/* Fonts */
@import 'tailwindcss';
@import '@fontsource-variable/nunito';
@import '@fontsource-variable/raleway';
@import 'tw-animate-css';

@theme {
	/* main backgrounds */
	--color-background: #f0f0f0;

	/* main foregrounds */
	--color-foreground: oklch(21.66% 0.0099 67.3);
	--color-foreground-secondary: oklch(50.53% 0.0093 73.7);

	/* navigation */
	--color-nav-background: oklch(100% 0 0);
	--color-nav-border: oklch(92% 0.0046 78.3);
	--color-nav-foreground: var(--color-foreground);
	--color-nav-foreground-secondary: var(--color-foreground-secondary);
	--color-nav-hover-background: var(--color-ghost);

	/* COLORS */

	/* primary */
	/* --color-primary: oklch(60% 0.0384 121.7);
	--color-primary-foreground: var(--color-foreground);
	--color-primary-hover: oklch(70% 0.0384 121.7);
	--color-primary-active: oklch(80% 0.0384 121.7);
	--color-primary-light: oklch(80% 0.0384 121.7 / 0.2);
	--color-primary-light-hover: oklch(90% 0.0384 121.7 / 0.3);
	--color-primary-light-active: oklch(90% 0.0384 121.7 / 0.4); */

	--color-primary: oklch(65% 0.2176 38);
	--color-primary-foreground: #ffffff;
	--color-primary-hover: oklch(60% 0.2176 38);
	--color-primary-active: var(--color-primary);
	--color-primary-light: oklch(65% 0.2176 38 / 0.1);
	--color-primary-light-hover: oklch(65% 0.2176 38 / 0.2);
	--color-primary-light-active: oklch(65% 0.2176 38 / 0.3);

	/* secondary */
	--color-secondary: oklch(55% 0.223 255.42);
	--color-secondary-foreground: #ffffff;
	--color-secondary-hover: oklch(50% 0.223 255.42);
	--color-secondary-active: var(--color-secondary);
	--color-secondary-light: oklch(55% 0.223 255.42 / 0.1);
	--color-secondary-light-hover: oklch(55% 0.223 255.42 / 0.2);
	--color-secondary-light-active: oklch(55% 0.223 255.42 / 0.3);

	/* ghost */
	--color-ghost: oklch(93% 0 0);
	--color-ghost-foreground: var(--color-foreground);
	--color-ghost-hover: oklch(87% 0 0);
	--color-ghost-active: var(--color-ghost);

	/* destructive */
	--color-destructive: oklch(55% 0.221 29.2);
	--color-destructive-foreground: #ffffff;
	--color-destructive-hover: oklch(50% 0.221 29.2);
	--color-destructive-active: var(--color-destructive);
	--color-destructive-light: oklch(55% 0.221 29.2 / 0.1);
	--color-destructive-light-hover: oklch(55% 0.221 29.2 / 0.2);
	--color-destructive-light-active: oklch(55% 0.221 29.2 / 0.3);

	/* success */
	--color-success: oklch(53.24% 0.163 142.5);
	--color-success-foreground: #ffffff;
	--color-success-hover: oklch(43.24% 0.163 142.5);
	--color-success-active: var(--color-success);
	--color-success-light: oklch(53.24% 0.163 142.5 / 0.1);
	--color-success-light-hover: oklch(53.24% 0.163 142.5 / 0.2);
	--color-success-light-active: oklch(53.24% 0.163 142.5 / 0.3);

	/* separator */
	--color-separator: oklch(92% 0 0);
	--color-separator-secondary: oklch(80% 0 0);

	/* main borders */
	--color-border: oklch(91.65% 0.0046 78.3);
	--color-border-secondary: oklch(90% 0 0);

	/* text sizes */
	--text-sm: 0.85rem;

	/* input */
	--color-input-background: oklch(100% 0 0);
	--color-input-hover: oklch(98% 0 0);
	--color-input-foreground: var(--color-foreground);
	--color-input-border: oklch(85% 0 0);
	--color-input-focus: oklch(98% 0 0);

	--font-display: 'Raleway Variable', sans-serif;
}

@layer base {
	body {
		font-family: 'Nunito Variable', sans-serif;
		color: var(--color-foreground);
		font-weight: 500;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Raleway Variable', sans-serif;
		font-weight: 700;
	}
}
